<app-header title="Categories"></app-header>

<ion-content>
    <ion-list>
        <ion-item detail="true" *ngFor="let category of categories" [routerLink]="category.id">
            <div class="color__wrapper" [style.border-color]="category.color">
                <ion-label class="list__label">{{category.name}}</ion-label>
                <div class="color-block" [style.background]="category.color"></div>
            </div>
        </ion-item>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>