<ion-button *ngIf="selectedCategory" (click)="clearSelected()">
    {{selectedCategory.name}}
    <ion-icon slot="end" name="pencil"></ion-icon>
</ion-button>

<div *ngIf="!selectedCategory">
    <ion-input (ionChange)="inputChanged($event)" [placeholder]="placeholderText"></ion-input>

    <ion-button *ngIf="pendingCategory.name && !pendingCategoryExists()" (click)="createCategory()">Create
        "{{pendingCategory.name}}" Category
    </ion-button>

    <ion-text *ngIf="categorySuggestions().length">
        <h2>Suggestions:</h2>
    </ion-text>

    <ion-chip *ngFor="let category of categorySuggestions()" (click)="selectCategory(category)" color="primary">
        <ion-label>{{category.name}}</ion-label>
    </ion-chip>
</div>