<ion-header *ngIf="category">
    <ion-toolbar [style.border-color]="category.color" class="color__border">
        <ion-title slot="start">{{category.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="tabs/categories" icon="close">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items">
            <ion-item-options side="start">
                <ion-button expand="full">
                    <ion-icon name="settings-outline"></ion-icon>
                </ion-button>
            </ion-item-options>
            <ion-item>

                <ion-label>{{item.name}}</ion-label>


                <ion-icon slot="end" size="small">
                </ion-icon>
                <app-color-marker slot="end" [color]="category.color"></app-color-marker>
            </ion-item>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openEditor()" size="small">
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>