<app-header title="Lists"></app-header>

<ion-content>
    <ion-list>
        <ion-item detail="true" *ngFor="let list of lists" [routerLink]="'/list/' + list.id">
            <div class="color-wrapper" [style.border-color]="list.color">
                <ion-label class="list__label">{{list.name}} {{list.color}}
                </ion-label>
            </div>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addList()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>