<ion-header *ngIf="item">
    <ion-toolbar color="secondary">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Edit {{item.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">
    <ion-card>
        <ion-card-content>
            <ion-item-group>
                <ion-item>
                    <ion-label position="floating">Item Name</ion-label>
                    <ion-input autofocus="true" color="primary" clear-input="true" spellcheck="true" [value]="item.name"
                        (ionChange)="nameChanged($event)">
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="list">
                    <ion-label position="floating">Quantity</ion-label>
                    <ion-input type="number" color="primary" clear-input="true" name="pendingQuantity"
                        [(ngModel)]="quantity">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Notes</ion-label>
                    <ion-textarea [(ngModel)]="notes"></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Item Color</ion-label>
                    <app-color-input (onUpdate)="colorChanged($event)" [color]="item.color"></app-color-input>
                </ion-item>
            </ion-item-group>
            <ion-button [disabled]="!item.name" color="secondary" (click)="update()">Update</ion-button>

        </ion-card-content>
    </ion-card>
</ion-content>