<ion-header *ngIf="list">
    <ion-toolbar [style.border-color]="list.color" class="color__border">
        <ion-title slot="start">{{list.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="tabs/lists" icon="close">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Add Item</ion-label>
            <form (submit)="addItem()">
                <ion-input autofocus="true" color="primary" clear-input="true" spellcheck="true"
                    (ionChange)="itemChanged($event)" [value]="pendingItem.name">
                </ion-input>
            </form>
            <ion-icon *ngIf="pendingItem.name" name="add-circle-outline" slot="end" size="large" (click)="addItem()">
            </ion-icon>
        </ion-item>

        <ion-item *ngIf="suggestedItems && suggestedItems.length">
            <ion-chip *ngFor="let item of suggestedItems" color="primary" (click)="addItem(item)">{{item.name}}
            </ion-chip>
        </ion-item>

        <ion-item *ngIf="!suggestedItems || !suggestedItems.length">
            <!-- Spacer -->
        </ion-item>

        <ion-reorder-group disabled="false" (ionItemReorder)="itemsReordered($event)">
            <ion-item-sliding *ngFor="let item of items()">
                <ion-item-options side="start">
                    <ion-button expand="full" (click)="editItem(item)">
                        <ion-icon name="settings-outline"></ion-icon>
                    </ion-button>
                </ion-item-options>
                <ion-item>
                    <ion-reorder *ngIf="item">
                        <ion-label>{{item.name}}</ion-label>
                    </ion-reorder>

                    <ion-icon [name]="getCheckboxIcon(item)" slot="end" size="small" (click)="toggleItem(item)">
                    </ion-icon>
                    <app-color-marker slot="end" [color]="list.color" [item]="item"></app-color-marker>
                </ion-item>
            </ion-item-sliding>
        </ion-reorder-group>
    </ion-list>

    <ion-fab horizontal="start" vertical="bottom" slot="fixed">
        <ion-fab-button color="dark" size="small">
            <ion-icon name="options"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-item>
                <ion-label>Show Completed Items</ion-label>
                <ion-toggle [checked]="list.showCompletedItems" (ionChange)="toggleShowCompletedItems($event)">
                </ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Remove Completed Items</ion-label>
                <ion-button color="danger" (click)="removeCompletedItems()">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Remove All Items</ion-label>
                <ion-button color="danger" (click)="removeAllItems()">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-fab-list>
    </ion-fab>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openEditor()" size="small">
            <ion-icon name="create"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>