<ion-header *ngIf="list">
    <ion-toolbar [style.border-color]="list.color" class="color__border">
        <ion-title slot="start">{{list.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="tabs/lists" icon="close">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Add Item</ion-label>
            <form (submit)="addItem()">
                <ion-input autofocus="true" color="primary" clear-input="true" spellcheck="true"
                    (ionChange)="itemChanged($event)" [value]="pendingItem.name">
                </ion-input>
            </form>
            <ion-icon *ngIf="pendingItem.name" name="add-circle-outline" slot="end" size="large" (click)="addItem()">
            </ion-icon>
        </ion-item>

        <ion-item *ngIf="suggestedItems && suggestedItems.length">
            <ion-chip *ngFor="let item of suggestedItems" color="primary" (click)="addItem(item)">{{item.name}}
            </ion-chip>
        </ion-item>

        <ion-reorder-group id="reorder" disabled="false" (ionItemReorder)="itemsReordered($event)">

            <ion-item *ngFor="let item of items()">
                <ion-reorder>
                    <ion-label>{{item.name}}</ion-label>
                </ion-reorder>
                <!-- <ion-icon name="settings-outline" slot="end" size="small"></ion-icon> -->
                <ion-icon [name]="getCheckboxIcon(item)" slot="end" size="small" (click)="toggleItem(item)">
                </ion-icon>
                <app-color-marker slot="end" [color]="list.color"></app-color-marker>

            </ion-item>

        </ion-reorder-group>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="openEditor()">
                <ion-icon slot="start" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>